@import './fonts.scss';

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fcfbfe;
}

::-webkit-scrollbar-thumb {
  background-color: #29253c;
  border-radius: 0;
}

*::selection {
  color: #29253c;
  background-color: #da4a5e;
}

@keyframes showPage {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
