@import './fonts.scss';

* {
  transition-duration: 3s;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: #FCFBFE;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #D9D9D9;
}


*::selection {
  color: #29253c;
  background-color: #da4a5e;
}

@keyframes showPage {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
